<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

    <h2 th:text="#{welcome}">Welcome</h2>
    <div class="row col-md-12">
      
      <div class="col-md-4">
            <img class="img-responsive" src="/resources/images/pets.png">
          </div>
              <div class="col-md-8">
                  <p>The Spring PetClinic was created in 2003 by Kren Krebs and Juergen Hoeller who are developing the first version of the Spring Framework (released in march 2004). This sample application was a kind of tutorial, a demonstration of what it was possible to conceive. It was distributed with the Spring Framework until the 2.5 version (2007).</p>

                  <p>At this time, the Spring ecosystem was growing: Spring Batch, Spring Web Services, Spring Security… The PetClinic development was in stand-by.</p>
          <div>
         </div></div></div>

  </body>

</html>